<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Document</title>
</head>

<body>
    <h1>SIGN UP</h1>
    <div class="signup-container">
        <form action='/auth/sign-up' method="POST">
            <div>
                <div></div>
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" id="firstName">
            </div>
            <div>
                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" id="lastName">
            </div>
            <div>
                <label for="userName">Username:</label>
                <input type="text" name="userName" id="userName" />
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" />
            </div>
            <div>
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" name="confirmPassword" id="confirmPassword" />
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" name="email" id="email">
            </div>
            <div>
                <button type="submit">Sign up</button>
            </div>
    </div>
    </form>
    </div>
</body>

</html>