<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    <h1>Welcome to Sanrio Crypto Friends!</h1>
    <%if (userSession) { %>
        <div id="sign-in-welcome">
            <h1>Hi there<%= userSession%>!</h1>
            <h1>
                Hello Kitty wants to help get rich!</h1>
            <%}%>

            <a href="/new-portfolio">New Portfolio?</a>
            <a href="/portfolios">View All!</a>
            <p>link for buying coin go here</p>
        </div>
        <a href="/auth/sign-in">Sign in!</a>
        <a href="/auth/sign-up">Sign Up!</a>

</body>

</html>