<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View coinz</title>
</head>

<body>
    <h1>View $</h1>
    <ul>
        <% allCoins.forEach((coin)=> { %>
            <li><a href="/coin/<%= coin._id %>">
                    <%=coin.coinName%>
                </a>

            </li>
            <% }); %>
    </ul>
    <a href="/coin/new-coin">New coin?</a>
    
</body>

</html>