<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>View coinz</title>

</head>

<body>
    <!-- views/index.ejs -->

    <body class="index-body">

        <div class="index-container">
            <div class="text-container">
                <h1 class="main-header">Coins!</h1>
                <h3></h3>
                <ul>
                    <% allCoins.forEach((coin)=> { %>
                        <li><a href="/coin/<%= coin._id %>">
                                <%=coin.coinName%>
                            </a>

                        </li>
                        <% }); %>
                </ul>
                </h3>
                <a href="/coin/new-coin">New coin?</a>
            </div>
        
        </div>
    </body>




</body>

</html>