<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Add this: -->
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Document</title>
</head>

<body>
    <div class="edit-body">
        <h1>Lets edit! <%=coinName%> and <%=editId%> and <%=user%>
        </h1>
        <form action="/coin/edit/<%=editId%>?_method=PUT" method="POST">
            <label for="timeOfPurchase">When was the initial time of purchase?</label>
            <input type="text" name="timeOfPurchase" id="timeOfPurchase">
            <label for="quantity">How many coins should we select?</label>
            <input type="number" name="quantity" id="quantity">
            <button type="submit">Submit here!</button>
        </form>
        </form>
    </div>
</body>

</html>