<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Lets edit!  and <%=editId%> and <%=user%>
    </h1>
        <form action="/coin/edit/<%=editId%>?_method=PUT" method="POST">
            <label for="coinName">What coin!</label>
            <input type="text" name="coinName" id="coinName">
            <label for="shortName">shortName</label>
            <input type="text" name="shortName" id="shortName">
            <label for="cost">cost api value</label>
            <input type="number" name="cost" id="cost">
            <label for="timeOfPurchase">when buy</label>
            <input type="text" name="timeOfPurchase" id="timeOfPurchase">
            <label for="quantity">how many</label>
            <input type="number" name="quantity" id="quantity">
            <button type="submit">Submit here!</button>
        </form>
    </form>
</body>

</html>