<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="/stylesheets/style.css" />

    <title></title>
</head>
<body>
    <h1>New coin</h1>
    <div class="new-body">
    <form action="/coin/new-coin" method="POST">
        <label for="coinName">What coin!</label>
        <input type="text" name="coinName" id="coinName">
        <label for="shortName">shortName</label>
        <input type="text" name="shortName" id="shortName">
        <label for="cost">cost (****add api value here later)</label>
        <input type="number" name="cost" id="cost">
        <label for="timeOfPurchase">When was the date of purchase?(MM/DD/YYYY) </label>
        <input type="text" name="timeOfPurchase" id="timeOfPurchase">
        <label for="quantity">How many coins should we select?</label>
        <input type="number" name="quantity" id="quantity">
        <button type="submit">Submit here!</button>
    </form>
    </div>
</body>
</html>