<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>New Portfolio for !</h1>
    <form method="POST">
        <label for="portName">What would you like to name your portfolio!</label>
        <input type="text" name="portName" id="portName">
        <label for="currency">What currency would you like?</label>
        <input type="text" name="currency" id="currency">
        <button type="submit">Submit here!</button>
    </form>
    
</body>
</html>