<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Portfolio</title>
</head>
<body>
    <h1>form goes here</h1>
    <form>
        <label for="portName">What would you like to name your portfolio!</label>
        <input type="text" name="portName" id="portName">
        <label for="currency">What currency would you like?</label>
        <input type="text" name="currency" id="currency">
    </form>
    
</body>
</html>