<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Portfolios</title>
</head>

<body>
    <h1>View Portfolios</h1>
    <ul>
        <% allPorts.forEach((portfolio) => { %>
            <li><a href="/port/<%= portfolio._id %>"></a><%=portfolio.portName%></li>
        <% }); %>
    </ul>
</body>

</html>
